{% load i18n  mezzanine_tags accounts_tags   pages_tags  %}
<form action=""  method="POST"  enctype="multipart/form-data">
{% csrf_token %}
    <select class="lang-select" id="selectlang">
      {% get_available_languages as languages %}

            {% for lang_code, lang_name in languages %}
               
             {% language lang_code %}
               <option value="/{{ lang_code }}{{ request.get_full_path|slice:'3:' }}" style="background-color:#28903B; color:white;" {% ifequal lang_code LANGUAGE_CODE %}selected  {% endifequal %} >
      
               {% if lang_code == 'en' %}EN
                {% elif lang_code == 'es' %}ES
                {% elif lang_code == 'fr' %}FR
                {% elif lang_code == 'ar' %}AR
                {% elif lang_code == 'ru' %}RU
                {% elif lang_code == 'zh' %}ZH
                {% endif%}
                
                </option>
                
                 {% endlanguage %}               
            {% endfor %}
        
      

</select><!--
{% if request.user.is_authenticated %}
  {% if user.is_authenticated and user.is_staff %}
        <a href="/admin/" class="btn btn-small btn-warning">Admin Area</a>
  {% endif %}
  
   {% url "profile" request.user.username as profile_url %}
    {% if profile_url %}
        <a href="{{ profile_url }}" title="{% trans 'See your IPPC user profile, including contact information.' %}"> {% if request.user.get_profile.first_name or request.user.get_profile.last_name %}{{ request.user.get_profile.first_name }} {{ request.user.get_profile.last_name }}{% else %}{{ request.user.username }}{% endif %}</a>
        
    {% else %}
        <a href="{% url "profile_update" %}">{{ request.user|username_or:"email"|capfirst }}</a>!
    {% endif %}
    <a href="{% url "logout" %}?next={{ request.path }}"
        class="btn btn-small btn-success btn-account">{% trans "Log out" %}</a>
{% else %}
    <a href="{% url "login" %}?next={{ request.path }}"
        class="btn btn-small btn-success btn-account">{% trans "Log in" %}</a>
  
{% endif %}
-->
</form>
