{% load i18n  mezzanine_tags accounts_tags %}
{# <div class="panel contact-info"> #}
{% if user.is_authenticated %}
  {% if profile_user.profile_photo %}
  <a href="{% url 'profile_update' %}" title="{% trans 'Update Profile and add a picture.' %}"><img class="pull-right profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail profile_user.profile_photo 128 128 %}"></a>
  {% else %}
  <a class="pull-right profile-picture" style="height:128px; width:128px; background:#eee;" href="{% url "profile_update" %}" title="Click to {% trans "Update Profile" %} and add a picture."></a>
  {% endif %}
{% endif %}
{# <ul class="unstyled"> #}
{# {% for field, value in user|profile_fields %} #}
{# <li><b class="small">{{ field }}:</b> {{ value|linebreaksbr }}</li> #}
{# {% endfor %} #}
{# </ul> #}

<dl class="dl-horizontal">
  {% for entry in user1 %}
  {{entry }}
  {% endfor %}
   
  {% if user.is_superuser %} 
    <dt>{% trans "Username" %}</dt> 
    <dd>{{ user.username }}</dd>
  {% endif %}
  {% if profile_user.first_name %}
    <dt>{% trans "Name" %}</dt>
    <dd>
      {% if profile_user.get_gender_display %}
        {{profile_user.get_gender_display }}
      {% endif %}
      {{profile_user.first_name }} 
      <span class="caps">{{profile_user.last_name }}</span>
    </dd>
  {% endif %}
   {% if profile_user.contact_type.all %}
    <dt>{% trans "Contact type" %}</dt>
    <dd>
    {% for entry in profile_user.contact_type.all %}
        {{entry}}{% if forloop.last %} {% else %},{% endif %}
      {% endfor %}
    
    </dd>
  {% endif %}
    	
  {% if profile_user.title %}
    <dt>{% trans "Title" %}</dt>
    <dd>
      {{profile_user.title }} 
    </dd>
  {% endif %}
    

 
  
  
  
  

  {% if profile_user.address1 %}  
  <dt>{% trans "Organization" %}</dt>
  <dd>
  {{profile_user.address1 }}
  </dd>  {% endif %}
  
  {% if profile_user.address1 or profile_user.address2 %}  
  <dt>{% trans "Address" %}</dt>
  <dd>
   
    {% if profile_user.address2 %}   {{profile_user.address2|richtext_filters|safe }}<br>{% endif %}
    </dd>
  {% endif %}
  
  
 
  {# {% if profile_user.country %} #}
  {# <dt>{% trans "IPPC Country" %}</dt> #}
  {# <dd> #}
    {# <b>{{profile_user.country.name }}</b> #}
    {# todo: link to country page if user is contact point #}
    {# <a href="/countries/{{profile_user.country.name | slugify }}">{{profile_user.country.name}}</a>     #}
  {# </dd> #}
  {# {% endif %} #}
{% if user.email %}
    <dt>{% trans "Email" %}</dt>
    <dd>{{ user.email }}</dd>
  {% endif %}
  
  {% if profile_user.email_address_alt %}
  <dt>{% trans "Alternate Email" %}</dt>
  <dd>
    {{profile_user.email_address_alt }} 
  </dd>
  {% endif %}
  
  {% if profile_user.phone %}
  <dt>{% trans "Phone" %}</dt>
  <dd>
    {{profile_user.phone }} 
  </dd>
  {% endif %}
  
  {% if profile_user.fax %}
  <dt>{% trans "Fax" %}</dt>
  <dd>
    {{profile_user.fax }} 
  </dd>
  {% endif %}
  
  {% if profile_user.mobile %}
  <dt>{% trans "Mobile" %}</dt>
  <dd>
    {{profile_user.mobile }} 
  </dd>
  {% endif %}
  
   {% if profile_user.preferredlanguage.all %}
    <dt>{% trans "Preferred languages" %}</dt>
    <dd>
    {% for entry in profile_user.preferredlanguage.all %}
        {{entry}}{% if forloop.last %} {% else %},{% endif %}
      {% endfor %}
    
    </dd>
  {% endif %}
    {% if profile_user.website %}
    <dt>{% trans "Website" %}</dt>
    <dd>
       <a href="{{profile_user.website }} ">{{profile_user.website }}</a>
 
    
    </dd>
  {% endif %}
  {% if profile_user.bio %}
  <dt>{% trans "Brief Biography" %}</dt>
  <dd>
    {{profile_user.bio }} 
  </dd>
  {% endif %}
  
  {% if profile_user.expertise %}
  <dt>{% trans "Expertise" %}</dt>
  <dd>
    {{profile_user.expertise }} 
  </dd>
  {% endif %}
  
  
	{% if user.is_superuser and profile_user.date_account_created %}  
	  <dt>{% trans "IPP Member Since" %}</dt>
	  <dd>
	    {% blocktrans with sometime=user.get_profile.date_account_created|date:"d M Y" %}{{ sometime }}{% endblocktrans %}
	  </dd>
	{% endif %}
	{% if profile_user.date_contact_registration %}  
	  <dt>{% trans "Date contact registration" %}</dt>
	  <dd>
	    {% blocktrans with sometime=user.get_profile.date_contact_registration|date:"d M Y" %}{{ sometime }}{% endblocktrans %}
	  </dd>
	{% endif %}
	
	{#   {% if user.is_authenticated and user.username == request.user.username %}  #}
	{#   <div> #}
	{#         <a class="btn btn-large btn-info" style="" href="/account/update/{{user.get_profile.id}}">{% trans "Update Profile" %}</a> #}
	{#   </div> #}
	{# {% endif %} #}
{# </div> #}