{% load i18n  mezzanine_tags accounts_tags %}
  {% if user.is_superuser %} 
  <div class="pull-right">
      <a class="btn btn-small btn-info" href="/admin/auth/user/{{ profile.user_id }}">Edit User as Admin</a><br>
  </div>
  {% endif %}
  
  {% if page.get_content_model.contact_point.username == request.user.username %} 
    <div class="pull-right">
      <a class="btn btn-large btn-info" href="{% url 'profile_update' %}">{% trans "Update Profile" %}</a>
		</div>
  {% endif %}
  
  {% if profile.profile_photo %}
  <img class="pull-left profile-picture" style="margin:0 0 20px 10px;" src="{{ MEDIA_URL }}{% thumbnail profile.profile_photo 128 128 %}">
  {% else %}
   <span class="pull-left profile-picture" style="font-size:10em; color: #FFF; background-color: #eee;height:128px; width:128px;"><i class="fas fa-user"> </i></span> 
  {% endif %}


  


<h6>&#160;&#160;
       
    {% if profile.get_gender_display %}
			{{ profile.get_gender_display }}
    {% endif %}
   
    {{ profile.first_name }} 
    <span class="caps">{{ profile.last_name }}</span>
  </h6>
   {% if profile.title %}
  <!--dt>{% trans "Title" %}</dt-->
  <p><i>&#160;&#160;
    {{ profile.title }} 
  </i></br>
  {% endif %}
  
  {% if profile.address1 or profile.address2 %}
  <!--dt>{% trans "Address" %}</dt-->

    {% if profile.address1 %} &#160;&#160;{{ profile.address1 }}<br>{% endif %}
   {% if profile.address2 %} &#160;&#160;{{ profile.address2 }}<br>{% endif %}
  
  {% endif %}
  {% if profile.phone %}
  
 &#160;&#160;<strong>{% trans "Phone" %}:</strong>
    {{ profile.phone }} 
</br>
  {% endif %}
   {% if profile.mobile %}

 &#160;&#160;  <strong>{% trans "Mobile" %}:</strong>
    {{ profile.mobile }} 
</br>
  {% endif %}
  {% if profile.fax %}

 &#160;&#160;  <strong>{% trans "Fax" %}:</strong>
    {{ profile.fax }} 
</br>
  {% endif %}
  
	{% if page.get_content_model.contact_point.email %}
 &#160;&#160;<strong>{% trans "Email" %}:</strong> {{ page.get_content_model.contact_point.email }}<br>
  {% endif %}
	
  {% if profile.email_address_alt %}
 &#160;&#160;<strong>{% trans "Alternate Email" %}:</strong>
    {{ profile.email_address_alt }} 
</br>

  {% endif %}
  {% if profile.preferredlanguage.all %}
   &#160;&#160;<strong>{% trans "Preferred languages" %}:</strong>
  
    {% for entry in profile.preferredlanguage.all %}
        {{entry}}{% if forloop.last %} {% else %},{% endif %}
      {% endfor %}
    
  </br>
  {% endif %}
  {% if profile.website %}
    &#160;&#160;<strong>{% trans "Website" %}:</strong>

       <a href="{{ profile.website }} ">{{ profile.website }}</a>
 
    
  </br>
  {% endif %}
  {% if user.is_superuser and profile.date_account_created %}
 &#160;&#160;<strong>{% trans "IPP Member Since" %}:</strong>
        {% blocktrans with sometime=profile.date_account_created|date:"d M Y" %}{{ sometime }}{% endblocktrans %}
</br>
	
  {% endif %}
  {% if  profile.date_contact_registration %}
 &#160;&#160;<strong>{% trans "Date contact registration" %}:</strong>
        {% blocktrans with sometime=profile.date_contact_registration|date:"d M Y" %}{{ sometime }}{% endblocktrans %}
</br>
	
  {% endif %}
  

  
  
  
  {% if profile.bio %}
    <script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>

 &#160;&#160;
   <strong>{% trans "Brief Biography" %}</strong> <a href="#" onclick="javascript:toggle_visibility('bio');"><small>{% trans "Click to display" %}</small></a>
   <div id="bio" style="display:none;">{{ profile.bio }}</div></dd>
  {% endif %}
  
  
    {% if profile.expertise %}
    <script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
    </script>

 &#160;&#160;
   <strong>{% trans "Description/expertise" %}</strong> <a href="#" onclick="javascript:toggle_visibility('exp');"><small>{% trans "Click to display" %}</small></a>
   <div id="exp" style="display:none;">{{ profile.expertise }}</div></dd>
  {% endif %}
  


  
  
  {% if profile.country %}
  <!--dt>{% trans "IPPC Country" %}</strong>
  <p>&#160;&#160;
    {% if profile.country.name %}<b>{{ profile.country.name }}</b>{% endif %}
  </dd-->
  {% endif %}
  
 
